div.GroupTitlesIX
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 11.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.GroupTitlesIX_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 11.0pt;
}

.GroupTitlesIX_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H0_BackMatter
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: 18pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H0_BackMatter_outer
{
  margin-bottom: 3pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.H0_BackMatter_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: 18pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.IndexIX
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.IndexIX_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.IndexIX_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Level1IX
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: Left;
  text-indent: -36pt;
  text-transform: none;
  vertical-align: baseline;
}

.Level1IX_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
}

.Level1IX_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Level2IX
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: Left;
  text-indent: -36pt;
  text-transform: none;
  vertical-align: baseline;
}

.Level2IX_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
}

.Level2IX_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.SeparatorsIX
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.SeparatorsIX_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.SeparatorsIX_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.SortOrderIX
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.SortOrderIX_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.SortOrderIX_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.zDraftFooter
{
  color: #bf0000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.zDraftFooter_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
}

.zDraftFooter_inner
{
  color: #bf0000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.zFooter
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
  text-align: justify;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.zFooter_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
}

.zFooter_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.zHeader
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.zHeader_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.zHeader_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.zTemplateID
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: justify;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.zTemplateID_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.zTemplateID_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.zWatermark
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.zWatermark_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.zWatermark_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.bold
{
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.C_Command
{
  color: #000000;
  font-family: Courier-New, Courier, Monospace;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Emphasis
{
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.glossary
{
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Interface
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.superscript
{
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-variant: normal;
  text-transform: none;
  vertical-align: super;
}

span.Title
{
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.URL
{
  color: #0000ff;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.userInput
{
  color: #000000;
  font-family: Lucida Mono, Andale Mono, Courier New, Courier, Monospace;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.zBulletSymbol
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.zBulletSymbolSmall
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.zChapterNumber
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

span.zlink
{
  color: #0000ff;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.zNoteHeads
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  vertical-align: baseline;
}

span.zUpdate
{
  color: #0000ff;
  font-family: Arial, Sans-Serif;
  font-size: small;
  vertical-align: baseline;
}

span.zWhite
{
  color: #ffffff;
  font-family: Arial, Sans-Serif;
  font-size: small;
}

table.UnstructMasterPageMaps
{
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 3pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 3pt;
  text-align: left;
  width: 95%;
}

